.footer {
    text-align: center;
    background: #000;
    font-family: $font-title; 
    font-size: 0.8rem;
    padding: 10px 0;

    & a {
        color: #fff;
        text-decoration: underline;
        color: #fff;
        transition: all 0.2s ease-in;

        &:hover {
            color: #FF69BA;
        }
    }

    @include media-query-desk {
        grid-column: 1 / 4;
        grid-rows: 2;
    }

}