.mailchimp-form {
    margin-top: 20px;
    
    & input {
        padding: 10px;
        border: none;
        border-radius: 5px 0 0 5px;
        font-family: $font-title;
        font-size: 0.8rem;
        width: 150px;

        @include media-query-desk {
            width: 250px;
            padding: 20px;
            }
        }

        & button {
            background: #FF69BA;
            font-family: $font-title;
            border: none;
            font-size: 0.8rem;
            color: #fff;
            padding: 10px;
            border-radius: 0 5px 5px 0;
            transition: background 0.2s ease-in;

            @include media-query-desk {
                width: 100px;
                padding: 20px;
                }
    
            &:hover {
                background: darken(#FF69BA, 10%);
                color: #fff;
                }
    }
}