.logo {
    width: 200px;
    margin: 40px 0;
    @include media-query-desk {
        width: 200px;
    }
}

.main-section {
    grid-column: 1;
    grid-row: 1;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;

    @include media-query-desk {
        width: 100%;
        margin-left: 70px;
    }

}

.text-intro {
    & h2 {
        font-family: $font-title;
        font-size: 1.2rem;
        line-height: 1.4rem;

        @include media-query-desk {
            font-size: 1.7rem;
            line-height: 2rem;
        }
    }

    & p {
        font-family: $font-text;
        font-size: 0.8rem;
        line-height: 1.4rem;

        @include media-query-desk {
            font-size: 1.1rem;
            line-height: 1.8rem;
        }
        
    }
}

.intro {
    & p {
        margin-top: 10px;
    }
}

.call-to-action {
    margin-top: 40px;
}