.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    background: linear-gradient(180deg, #FBC385 10%, #FF86C7 100%);

    @include media-query-desk {
        height: 100vh;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr auto;
    }

}